body { 
    font: 12px Arial;  
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td, th {
    margin: 1px 8px;
}
th{
    cursor: pointer;
}

th span{
    position: relative;
}
th img{
    width: 10px;
    height: 10px;
    position: absolute;
    right: -12px;
    top: 0;
}