body { 
    font: 12px Arial;  
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td, th {
    padding: 1px 4px;
}
td, th > div {
    padding: 1px 4px;
}