body { 
    /*font: 12px Arial; */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px; 
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
th{
    margin: 1px 10px;
}
td {
    padding: 1px 4px;
}


th span{
    position: relative;
}
th img{
    width: 10px;
    height: 10px;
    position: absolute;
    right: -12px;
    top: 0;
}

th {
    padding-bottom: 10px;
    border-bottom: solid #ddd 1px;
    cursor: pointer;
}

#category-dashboard {
    background: #eee;
    float: left;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

.category-dashboard-category{
    margin: 5px 2px;
}